.categories_container {
    width: 26vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid green;
}

.categories_item {
    margin: 10px;
    cursor: pointer;
}

.categories_item_active {
    margin: 12px;
    cursor: pointer;
    color: red;
}
