.main_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_items {
    width: 14vw;
    padding: 10px;

}

.main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 2vw;
    border: 1px solid green;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
}

.main_button:hover {
    background-color: green;
    color: white;
}
